node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.git
.gitignore
coverage
dist
tests
**/.DS_Store
**/*.patch
**/*.log
**/*.md
Frontend/
scripts/
docs/
*.iml
profile.cpuprofile

